<!DOCTYPE html>
<html lang="en" ng-app="calculator">
<head>
    <meta charset="UTF-8">
    <title>Calculator AngularJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4 calc-wrapper center-block" ng-controller="CalculatorController as calcCtrl">
            <div id="screen" class="clearfix">
                <div class="info-screen text-right"><span>{{calculator.lastValue}} {{calculator.lastOperation}}</span></div>
                <input type="text" class="col-xs-12 text-right form-control input-lg" ng-value="calculator.inputValue" disabled>
            </div>
            <div id="operators" class="clearfix">
                <button class="btn btn-primary btn-lg col-xs-3" ng-click="addOperation('+')">+</button>
                <button class="btn btn-primary btn-lg col-xs-3" ng-click="addOperation('-')">-</button>
                <button class="btn btn-primary btn-lg col-xs-3" ng-click="addOperation('*')">*</button>
                <button class="btn btn-primary btn-lg col-xs-3" ng-click="addOperation('/')">/</button>
            </div>
            <div id="buttons" class="clearfix">
                <button class="btn btn-lg col-xs-3" ng-click="clearAll()">C</button>
                <button class="btn btn-lg col-xs-3" ng-click="addDigit('7')">7</button>
                <button class="btn btn-lg col-xs-3" ng-click="addDigit('8')">8</button>
                <button class="btn btn-lg col-xs-3" ng-click="addDigit('9')">9</button>

                <button class="btn btn-lg col-xs-3" ng-click="addDot()">.</button>
                <button class="btn btn-lg col-xs-3" ng-click="addDigit('4')">4</button>
                <button class="btn btn-lg col-xs-3" ng-click="addDigit('5')">5</button>
                <button class="btn btn-lg col-xs-3" ng-click="addDigit('6')">6</button>

                <button class="btn btn-lg col-xs-3" ng-click="addDigit('0')">0</button>
                <button class="btn btn-lg col-xs-3" ng-click="addDigit('1')">1</button>
                <button class="btn btn-lg col-xs-3" ng-click="addDigit('2')">2</button>
                <button class="btn btn-lg col-xs-3" ng-click="addDigit('3')">3</button>

            </div>
            <div id="result" class="clearfix">
                <button class="btn btn-success btn-lg col-xs-12" ng-click="calculate()">=</button>
            </div>
            <div class="developers-mode text-left">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="checkBoxValue">Developer mode</label>
                </div>
                <div ng-repeat="(key, value) in calculator" ng-show="checkBoxValue">{{ key }}: {{ value }}</div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="calculator.js"></script>

</body>
</html>