.calc-wrapper {
    float: none;
    margin-top: 30px;
}

.info-screen {
    height: 1.5em;
}

#screen input {
    height: 2.5em;
    font-size: 25px;
    font-weight: bold;
}

#operators {
    margin: 20px 0 10px;
}

button {
    line-height: 2.3 !important;
    font-size: 19px !important;
    background-color: #fff;
}

#result button {
    margin-top: 10px;
}